<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
</head>
<body>
    <h2>Post in Detail</h2>
    <a href="http://localhost:3000/posts">Back</a>
    <h4> <%= post.id %> </h4>
    <h3> <%= post.name %> </h3>
    <h3> <%= post.content %> </h3>
    
</body>
</html>