<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
</head>
<body>
    
        <h2>edit your content</h2>
        <h3>Username : @ <%= post.name %></h3>
        <h3>id : <%= post.id %></h3>

        <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
        <textarea name="content" id="" cols="30" rows="10"> <%= post.content%> </textarea>
        <button>submit</button>
    </form>
  
</body>
</html>