<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="mainBox">
    <h2>Username : @<%= userName %> </h2>
    <h2>No Of Post : <%= noOfPost %></h2>
    <a href="http://localhost:8000/posts">Check out all posts</a>

    <form action="/posts/new" class="createPost">
        <h3>Create New Post : </h3> &nbsp;
        <button class="btn">Create </button>
    </form>
</div>

</body>
</html>