*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(20, 3, 48);
    color: white;
}
body{
    margin: 2rem;
}
img{
    width: 200px;
}
.btn{
    margin-bottom: 20px;
    background-color: rgb(138, 92, 207);
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}
.form_add_newPost{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
